.scoreboard {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard-cell {
  display: flex;
  width: 30px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 900;
  background-color: rgba(228, 245, 237, 1);
  color: rgba(0,0,0,0.6);
  margin: 4px;
}
